/* General Styles*/

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* overflow-x: hidden; */
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.error{
  min-height: 85vh;
  padding-top: 20px;
}

/*Reusable Styles*/

.section{
  margin-top: 95px;
}
.paddingY29{
  padding: 29px 0  !important;
}
.paddingY13{
  padding: 13px 0  !important;
}
.ns{
  text-decoration: none;
  color: inherit;
}
.wu{
  text-transform: uppercase;
  font-weight: 700;
}

/* Navbar Styles*/

li a{
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 9px 10px;
  border-radius: 7px;
  transition: all 0.3s ease;
  z-index: 10000 !important;
}
.logo{
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap !important;
  text-overflow: ellipsis;
} 
.navbar{
  background-color: #2C3E50;
  top: 0;
  left: 0;
  right: 0;
}
li a.active{
  background-color: #5CBD9D;
}
.mobile-menu-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: #2c3e50;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
}
.mobile-menu-container.show {
  max-height: 300px;
  padding-bottom: 20px;
}
.mobile-nav-items li{
  color: white;
}
.menu-toggle{
  position: relative;
}
.menu-toggle svg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

/* Footer Styles*/

footer{
  width: 100%;
  box-sizing: border-box;
}
.ft{
  background-color: #2C3E50;
  padding-block: 90px;
}
.fb{
  background-color: #1A252F;
}
.title{
  font-size: 28px;
  font-weight: 500;
}
.icon-item{
  font-size: 16px;
  color: white;
  font-weight: 500;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.freelancer{
  font-size: 16px;
}
.icons{ 
  gap: 0;
  width: 80%;
  height: auto;
}


/* .main-content{
  min-height: 60vh;
  box-sizing: border-box;
} */

/*Section Styles*/

.title-component{
  font-size: 40px;
  text-align: center;
  color: #2C3E50;
  
}
.star-underline{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.star-underline .ll, .star-underline .lr{
  width: 80px;
  height: 4px;
  background-color: #2C3E50;
}
.star-underline .star-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.star-underline .star{
  font-size: 18px;
  color: #2C3E50;
  align-self: center;
  justify-self: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
.star svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Home Section Styles*/

.home{
  margin-top: 90px;
}
.home img{
  width: 100%;
  height: auto;
}
.home .image{
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Section Styles*/

.about{
  background-color: #5CBD9D;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.about .title-component{
  color: white;
}
.about .star-underline .ll,.about .star-underline .lr{
  background-color: white;
}
.about .star-underline .star{
  color: white;
}
.about .row{
  padding-inline: 4rem;
}

/*Portfolio Section Styles*/

.portfolio{
  padding-bottom: 30px;
  margin-top: 110px;
  min-height: 100vh;
}
.portfolio .portfolio-item{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;

}
.portfolio .portfolio-item img{
  width: 95%;
  height: auto;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.portfolio .portfolio-item .overlay{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(92, 189, 157, 0.904);
  width: 95%;
  height: 100%;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.6s ease;
  opacity: 0;
}
.portfolio .portfolio-item .overlay .overlay-text{
  color: white;
  font-size: 90px;
  text-align: center;
}
.portfolio .portfolio-item:hover .overlay{
  opacity: 1;
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 9999;
}

/*Contact Section Styles*/

.contact{
  display: flex;
  margin-top: 120px;
  justify-content: center;
  min-height: 100vh;
}
.contact .container{
   padding-left: 0 !important;
  padding-right: 0 !important;
}
.contact form{
  margin-top: 50px;
  padding-top: 35px;
  width: 100%;
}
.contact form .input-group{
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact form .input-group .input-bottom-border{
  border: none;
  border-bottom: 1px solid #dee2e6;
  border-radius: 7px;
  display: inline;
  padding: 15px 10px ;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  width: 100%;
  z-index: 100;
  margin-bottom: 5px;
  box-sizing: border-box !important;
}
.contact form .input-bottom-border:focus{
  outline: none;
}
.contact form .input-group label{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  transition: all 0.7s;
  pointer-events: none;
  opacity: 0;
}
.contact form .input-group input:focus ~ label,
.contact form .input-group input:valid ~ label {
  top: -20px;
  font-size: 16px;
  color: #5CBD9D;
  background: white;
  padding: 0 5px;
  opacity: 1;
}
.contact form button{
  background-color: #5CBD9D;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact form button:hover{
  background-color: #5CBD9D;
  color: white;
}

/*Media Queries*/

@media (max-width: 1024px) {
  .portfolio .modal-content{
    max-width: 60% !important;
  }
}

@media (max-width: 768px) {
  .navbar .logo{
    font-size: 24px;
  }
  .contact .form-row{
    padding: 0 !important;
    width: 100% !important;
  }
  .contact form .input-group .input-bottom-border{
    width: 100% !important;
    z-index: 100;
    margin-bottom: 5px;
  }
  .portfolio .modal-content{
    max-width: 80% !important;
  }
}

@media (max-width: 576px) {
  footer .icons{
    flex-direction: row !important;
  }
  footer .title{
    font-size: 22px;
  }
  .portfolio .modal-content{
    max-width: 100% !important;
  }
}
@media (max-width: 768px) {
  .contact .container{
    max-width: 100%;
  }
  .contact form .input-group .input-bottom-border{
    width: 100%;
  } 
}